h3 = user.first_name

= render "invitations/user_pending_invitations"

= render "events/user_event_form"
= render "events/user_event_list"

= render "activities/user_activity_form"
= render "activities/user_activity_list"
