h1 Let's Make Plans

h3 Find activities and connect with friends.
h3 More thorough description.

p = link_to "Sign up to Make Plans", new_user_registration_path

p = link_to "Log in", new_user_session_path

p = link_to "Check out activies in your area", "#"

p = link_to "Log out", destroy_user_session_path, method: :delete
