- if @pending_invitations.any?
  - @pending_invitations.each do |pending|
    = render "cards/pending_invitation_card", pending: pending

javascript:
  $(document).ready(function(){
    $("body").on("click", "#decline-button", function() {
      $(".decline-invitation-message").show();
      $("#rsvp-button").hide();
      $(this).hide();
    });

    $("body").on("click", "#cancel-button", function() {
      $(".decline-invitation-message").hide();
      $("#rsvp-button").show();
      $("#decline-button").show();
    });

    $("body").on("click", "#complete-button", function() {
      var form_id = $(this).data("form-target");
      var form = document.getElementById(form_id);
      $("form").submit();
    });
  });

  ///implement data-target here to select correct one to open/close
