@mixin background($image) {
  background: url($image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-index {
  @include background("friends2.jpeg");
}

.sessions-new {
  @include background("friends5.jpeg");
}

.registrations-new {
  @include background("friends6.jpeg");
}

.users-show {
  @include background("friends.jpeg");
}

.events-new {
  @include background("friends1.jpeg");
}

.activities-new {
  @include background("friends3.jpg");
}

.activities-index {
  @include background("friends4.jpg")
}
