.generic-card {
  border: 2px gray solid;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
  }
}

.activity-card, .home-card {
  @extend .generic-card;

  img {
    padding: 0px 20px;
  }
}

.alert-card {
  background: rgba(255, 255, 255, 0.8);
  border: 2px $purple solid;
  margin-top: 0px;
}

.devise-card {
  @extend .generic-card;
  width: 40vw;
  background: rgba(255, 255, 255, 0.8);
}

.card-block {
  padding: 20px;
}

.card-column {
  background: $white-background;
  border: 2px gray solid;
  border-radius: 20px;
  padding-bottom: 20px;
  width: 45%;
}
