.generic-card {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px gray solid;
  img {
    width: 100%;
  }
}

.activity-card, .home-card {
  @extend .generic-card;
}

.alert-card {
  border: 2px $purple solid;
}

.devise-card {
  @extend .generic-card;
  width: 40vw;
  background: rgba(255, 255, 255, 0.9);
}

.card-block {
  padding: 20px;
}

.card-column {
  background: $white-background;
  border-radius: 20px;
  padding-bottom: 20px;
}
