.fa-plus-circle {
  color: $green;
  font-size: 25px;
  margin-left: 20px;
}

.fa-caret-down, .fa-caret-up {
  font-size: 35px;
  margin-bottom: 0;
  color: gray;
}

button, .button, input[type="submit"] {
  background-color: $teal;
  color: $purple;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 15px;
  border: 0;

  &:active,
  &:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }

  border: 2px solid gray;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;

  &:hover {
    background: darken($teal, 1.5%);
    border: 2px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: lighten($purple, 18%);
    text-decoration: none;
    text-shadow: -1px -1px 0 darken($teal, 9.5%);
    transition: all 250ms linear;
  }
}

.delete-x {
  color: $red;
  font-weight: bold;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}
