.custom-nav {
  margin-top: 20px;
  text-align: center;
}

.nav-title {
  background-color: $teal;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 15px;
  h1 {
    margin-bottom: 0;
  }
  a {
    color: $purple;
  }
  a:hover {
    color: $red;
    text-decoration: none;
  }
}

.nav-links {
  display: inline-block;
  h4 {
    display: inline-block;
    margin: 0px 30px;
  }
  a {
    color: black;
  }
  a:hover, h4:hover {
    color: $teal;
    text-decoration: none;
  }
  a.active {
    color: $teal;
    cursor: default;
    pointer-events: none;
  }
}
